.product-wrapper
{
    display: flex;
    flex-wrap: wrap;
}

.product 
{
    height: 175px;
    width: 140px;
    margin: 0 0 1em 0 !important;
}

.product:not(:last-child)
{
    margin-right: 1em !important;
}

.product .card-body p
{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
}

.product .card-body p:nth-child(2)
{
    align-items: center;
}