*
{
    box-sizing: border-box;
}

a
{
    color: black !important;
}

form
{
    position: relative;
    min-height: 100vh;
}

header
{
    width: 100%;
}

nav
{
    background-color: var(--light);
    width: 100%;
}

nav .nav-item
{
    padding: 1em 0em 1em 1em;
}

.main-content
{
    min-height: calc(100vh - 222px);
}

footer
{
    background-color: var(--dark);
    color: var(--light);
    position: relative;
    bottom: 0;
    width: 100%;
}